.stars {
  background-color: transparent;
  background-image: radial-gradient(
      white,
      rgba(255, 11, 255, 0.2) 2px,
      transparent 5px
    ),
    radial-gradient(white, rgba(255, 99, 71, 0.4) 1px, transparent 2.5px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 1.6px, transparent 5px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 0.5px
    ),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(12, 221, 144, 0.3) 2px,
      transparent 0.5px
    ),
    radial-gradient(
      rgba(9, 238, 51, 0.4),
      rgba(66, 78, 74, 0.3) 1.5px,
      transparent 0.8px
    );
  background-size:
    550px 550px,
    350px 350px,
    250px 250px,
    180px 150px,
    666px 666px,
    620px 620px;
  background-position:
    0 0,
    40px 60px,
    top 130px right 70px,
    70px 100px,
    top 100px right 100px,
    top -300px left -300px;
}

.container {
  display: grid;
  max-width: 800px;
  max-height: 80vh;
  aspect-ratio: 1 / 1;
  grid-template-areas: "stack";
  container-type: size;
}
.sun {
  grid-area: stack;
  place-self: center;
  width: 5cqi;
  aspect-ratio: 1 / 1;
  background-color: goldenrod;
  background: radial-gradient(circle, #f9d71c 0%, #f9a825 50%, #f9a825 100%),
    hsl(0, 0%, 50%);
  box-shadow: 0 0 2cqi white;
  border-radius: 50%;
}

.mercury {
  grid-area: stack;
  place-self: center;
  aspect-ratio: 1 / 1;
  width: 12%;
  border-radius: 50%;
}
.mercury::before {
  box-shadow: 0 0 0.5cqi #b1a17b;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 3s linear infinite;
  background: radial-gradient(circle, #b1a17b 0%, #8a795d 60%, #5e5340 100%),
    hsl(33, 15%, 35%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.7cqi;
  display: block;
}

.venus {
  grid-area: stack;
  place-self: center;
  aspect-ratio: 1 / 1;
  width: 17%;
  border-radius: 50%;
}
.venus::before {
  box-shadow: 0 0 0.8cqi #f5deb3;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 3.5s linear infinite;
  background: radial-gradient(circle, #f5deb3 0%, #e3a857 50%, #a0522d 100%),
    hsl(34, 60%, 50%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.9cqi;
  display: block;
}

.earth {
  grid-area: stack;
  place-self: center;
  aspect-ratio: 1 / 1;
  width: 25%;
  border-radius: 50%;
}
.earth::before {
  box-shadow: 0 0 0.8cqi #3a82f7;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 5s linear infinite;
  background: radial-gradient(circle, #3a82f7 0%, #2f9e44 80%, #1a5e20 100%),
    hsl(0, 0%, 50%);
  offset-path: content-box;
  border-radius: 50%;
  width: 2.25cqi;
  display: block;
}

.moon {
  aspect-ratio: 1 / 1;
  width: 3.5cqi;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  offset-path: content-box;
}

.moon::before {
  box-shadow: 0 0 0.5em #d9d9d9;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 5s linear infinite;
  background: radial-gradient(circle, #d9d9d9 0%, #a6a6a6 70%, #7a7a7a 100%),
    hsl(0, 0%, 60%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.2cqi;
  display: block;
}

.mars {
  grid-area: stack;
  place-self: center;
  aspect-ratio: 1 / 1;
  width: 36%;
  border-radius: 50%;
}
.mars::before {
  box-shadow: 0 0 1cqi #e57373;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 6.4s linear infinite;
  background: radial-gradient(circle, #e57373 0%, #af4448 100%), hsl(0, 0%, 50%);
  offset-path: content-box;
  border-radius: 50%;
  width: 1.75cqi;
  display: block;
}

.phobos {
  aspect-ratio: 1 / 1;
  width: 2.75cqi;
  border-radius: 50%;
  animation: rotate 6.4s linear infinite;
  offset-path: content-box;
}

.phobos::before {
  box-shadow: 0 0 1cqi #d9d9d9;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 3.5s linear infinite;
  background: radial-gradient(circle, #d9d9d9 0%, #a6a6a6 70%, #7a7a7a 100%),
    hsl(0, 0%, 60%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.12cqi;
  display: block;
}
.deimos {
  aspect-ratio: 1 / 1;
  width: 3.5cqi;
  border-radius: 50%;
  animation: rotate 6.4s linear infinite;
  offset-path: content-box;
}

.deimos::before {
  box-shadow: 0 0 1cqi #d9d9d9;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 4s linear infinite;
  background: radial-gradient(circle, #d9d9d9 0%, #a6a6a6 70%, #7a7a7a 100%),
    hsl(0, 0%, 60%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.1cqi;
  display: block;
}

.jupiter {
  grid-area: stack;
  place-self: center;
  aspect-ratio: 1 / 1;
  width: 50%;
  border-radius: 50%;
}
.jupiter::before {
  box-shadow: 0 0 0.5cqi #d9a066;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 10s linear infinite;
  background: radial-gradient(
      circle,
      #d9a066 0%,
      #c68f53 40%,
      #8c5523 70%,
      #5a3a1a 100%
    ),
    hsl(30, 50%, 40%);
  offset-path: content-box;
  border-radius: 50%;
  width: 3.4cqi;
  display: block;
}

.europa {
  aspect-ratio: 1 / 1;
  width: 5.2cqi;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
  offset-path: content-box;
}

.europa::before {
  box-shadow: 0 0 1cqi #d9d9d9;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 4s linear infinite;
  background: radial-gradient(circle, #d9d9d9 0%, #a6a6a6 70%, #7a7a7a 100%),
    hsl(0, 0%, 60%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.1cqi;
  display: block;
}

.ganymede {
  aspect-ratio: 1 / 1;
  width: 6cqi;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
  offset-path: content-box;
}

.ganymede::before {
  box-shadow: 0 0 0.5cqi #d9d9d9;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 4.4s linear infinite;
  background: radial-gradient(circle, #d9d9d9 0%, #a6a6a6 70%, #7a7a7a 100%),
    hsl(0, 0%, 60%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.1cqi;
  display: block;
}

.io {
  aspect-ratio: 1 / 1;
  width: 6.4cqi;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
  offset-path: content-box;
}

.io::before {
  box-shadow: 0 0 0.5cqi #ffd966;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 4.8s linear infinite;
  background: radial-gradient(
      circle,
      #ffd966 0%,
      #f4a300 40%,
      #cc5500 70%,
      #663300 100%
    ),
    hsl(39, 90%, 50%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.1cqi;
  display: block;
}

.callisto {
  aspect-ratio: 1 / 1;
  width: 7.2cqi;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
  offset-path: content-box;
}

.callisto::before {
  box-shadow: 0 0 0.5cqi #8d8d8d;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 5.2s linear infinite;
  background: radial-gradient(
      circle,
      #8d8d8d 0%,
      #5f5f5f 80%,
      #3b3b3b 90%,
      #1f1f1f 100%
    ),
    hsl(0, 0%, 35%);
  offset-path: content-box;
  border-radius: 50%;
  width: 0.1cqi;
  display: block;
}

.saturn {
  grid-area: stack;
  place-self: center;
  aspect-ratio: 1 / 1;
  width: 72%;
  border-radius: 50%;
}

.saturn::before {
  box-shadow: 0 0 0.4cqi #f5e3b3;
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 14s linear infinite;
  background: radial-gradient(
      circle,
      #f5e3b3 0%,
      #d9c28f 40%,
      #bfa177 70%,
      #8c7356 100%
    ),
    hsl(42, 50%, 65%);
  offset-path: content-box;
  border-radius: 50%;
  width: 2.8cqi;
  display: block;
}

.saturn::after {
  content: "";
  aspect-ratio: 1 / 1;
  animation: rotate 14s linear infinite;
  offset-path: content-box;
  width: 4.4cqi;
  display: block;
  border: 0.4cqi solid hsla(0, 0%, 90%, 0.7);
  border-radius: 50%;
  box-shadow: 0 0 0.5em #d9d9d9;
}

@keyframes rotate {
  to {
    offset-distance: 100%;
  }
}
